{%- if include.style == "small" -%}
  {%- assign width = 200 -%}
{%- else -%}
  {%- assign width = 900 -%}
{%- endif -%}

{%- assign placeholder = "images/placeholder_paper.webp" | relative_url -%}

{%- if include.link -%}
  {%- assign tag = "a" -%}
{%- else -%}
  {%- assign tag = "span" -%}
{%- endif -%}

<!-- {::nomarkdown} -->


<span class="card" style="--width: {{ width }}px">
  {%- if include.image -%}
    <{{ tag }} href="{{ include.link | relative_url }}" class="card_image">
      <img
        src="{{ include.image | relative_url }}"
        onerror="this.src = '{{ placeholder }}'; this.onerror = null;"
        loading="lazy"
        alt=""
      >
    </{{ tag }}>
  {%- endif -%}

  {%- if include.title -%}
    <{{ tag }} href="{{ include.link | relative_url }}" {% if include.tooltip %}data-tooltip="{{ include.tooltip }}"{% endif %} class="card_title">
      {{- include.title -}}
    </{{ tag }}>
  {%- endif -%}

  <span class="card_info" 
  data-sd="{{ include.submission-deadline }}" 
  data-ad="{{ include.abstract-deadline }}"
  data-cd="{{ include.conference-date }}">
    {%- if include.abstract-deadline -%}
      Abstract deadline: {{ include.abstract-deadline }}
    {%- endif -%}
    <br>
    {%- if include.submission-deadline -%}
      Submission deadline: {{ include.submission-deadline }}
    {%- endif -%}
    <br>
    {%- if include.conference-date -%}
      Conference Date: {{ include.conference-date }}
    {%- endif -%}
    <br>
    {%- if include.conference-location -%}
      Location: {{ include.conference-location }}
    {%- endif -%}
  </span>
  {%- if include.subtitle-%}
    <span class="card_subtitle">
      {{ include.subtitle }}
    </span>
  {%- endif -%}

  {%- if include.tags or include.repo -%}
    {%- include tags.html tags=include.tags repo=include.repo -%}      
  {%- endif -%}

</span>
<!-- {:/} -->
